<div class="container form-container">
  <div>
    <div class="vineta-messaje">
      <img src="../../../assets/vineta.png" alt="">
      <p class="yoda-message">Si el dinero que no vuelve te preocupa, ley de porcentaje escoger debes.</p>
    </div>
    <div class="vineta-messaje">
      <img src="../../../assets/vineta.png" alt="">
      <p class="yoda-message">Si comparar una inversión quieres,escoger Inversión debes.</p>
    </div>
  </div>


<div class="img-container">
  <img class="yoda-img" src="../../../assets/yodamessage.png" alt="">
  <div class="btn-container">
    <button class="main-btn red-btn">Ley Porcentaje</button>
    <button class="main-btn green-btn">Inversión</button>
  </div>
</div>

</div>
