<div class="container form-container">
  <h1>Regla del 6%</h1>
  <br />
  <div class="input-container">
    <label class="input-label" for="Input1">Precio de la casa:</label>
    <div class="number-input-container">
      <input
        class="number-input"
        type="number"
        min="0"
        required
        #nameInput1="ngModel"
        required="true"
        [(ngModel)]="price"
        (ngModelChange)="changePrice()"
      />
      <p class="display-input-number">
        {{ price | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </p>
    </div>
    <p class="message-error" [class.active]="nameInput1.invalid">
      El campo es requerido
    </p>
  </div>

  <div class="input-container">
    <label class="input-label" for="Input4">Valor del alquiler:</label>
    <div class="number-input-container">
      <input
        class="number-input"
        type="number"
        required
        #nameInput4="ngModel"
        required="true"
        [(ngModel)]="rent"
        (ngModelChange)="changePrice()"
      />
      <p class="display-input-number">
        {{ rent | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </p>
    </div>
    <p class="message-error" [class.active]="nameInput4.invalid">
      El campo es requerido
    </p>
  </div>

  <h4 *ngIf="validForm == false; else myBlock">Valores de entrada invalidos</h4>
  <ng-template #myBlock>
    <h4>
      Porcentaje:
      {{ percent | percent : "1.1-3" }}
    </h4>
  </ng-template>
  <br />

  <div class="img-container">
    <img class="yoda-img" src="../../../assets/yodaEnd.png" alt="" />
    <div class="btn-container">
      <button routerLink="/select-you-must" class="main-btn red-btn">
        Regresar
      </button>
      <a href="/dark-side">Pasarse al lado oscuro</a>
    </div>
  </div>
</div>
