.home-container{
  border: 1px solid black;
  border-radius: 24px;
  max-width: 425px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 8px auto auto auto;
}

.message-container{
  width: fit-content;
  text-align: center;
}

.yoda-message{
  font-size: 18px;
  font-weight: 500;
}

.yoda-img{
  width: 250px;
  height: auto;
}

.main-btn{
  background-color: rgba(245, 245, 245, 0.897);
  color: black;
  font-weight: 500;
  font-size: 22px;
  text-align: center;

  margin-bottom: 8px;
  width: 180px;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width:425px){
  .home-container{
    border: none;
    height:  100vh;
    margin: auto;
  }

}

